namespace: Tests
support_namespace: Support
# suite config
suites:
    Api:
        actor: ApiTester
        path: .
        modules:
            enabled:
                - Asserts
                - Db:
                  dsn: 'mysql:host=;dbname='
                  user: ''
                  password: ''
                  dump:
                      - 'tests/_data/cart_items.sql'
                      - 'tests/_data/order_items.sql'
                      - 'tests/_data/orders.sql'
                      - 'tests/_data/payment_methods.sql'
                      - 'tests/_data/personal_access_tokens.sql'
                      - 'tests/_data/products.sql'
                      - 'tests/_data/users.sql'
                  populate: true
                - REST:
                    url: # site_url
                    depends: PhpBrowser
        step_decorators:
            - \Codeception\Step\AsJson

paths:
    tests: tests/Api
    output: tests/_output
    data: tests/_data
    support: tests/Support

settings:
    shuffle: false
    lint: true